.play-button {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.message-box {
  position: relative;
}

.more-button {
  width: 374px;
  margin-right: 16px;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.info-button {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  height: 60px;
  align-items: center;
  z-index: 3;
}

.info-button-special {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  height: 60px;
  align-items: center;
}

.info-button-more {
  display: flex;
  flex-direction: column;
  height: 36px;
  align-items: center;
  
}

.checkbox-speed {
  display: none;
  flex-direction: column;
  border-radius: 10px;
  right: -20px;
  bottom: 100%;
  width: 72px;
  height: 268px;
  position: absolute;
  background-color: rgb(37, 38, 50);
  z-index: 1;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}
