.news-area {
  position: absolute;
  height: 25px;
  width: 100px;
  right: 0;
  background-color: rgba(177, 231, 208, 0.5);
  border-radius: 4px;
  z-index: 4;
  display: none;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 10px;
}


.news-text {
  font-family: Noto Sans SC;
  font-size: 16px;  
  color: rgba(4, 85, 24, 0.95);
}
